@model CategoryCreateDto
@{
    Layout = "../Shared/_PanelLayout.cshtml";
}

@section title
{
    enesbiricikcom | Category Create
}

@section PageHeader
    {
    Category Create
}


<div class="card">
    <div class="card-body">
        <form method="post" asp-action="CategoryCreate" asp-controller="Dashboard">
            <div>
                <label>Category Name</label>
                <input class="form-control form-control-lg" type="text" asp-for="@Model.Name">
                <span style="color:red;font-weight:bold;" asp-validation-for="@Model.Name"></span>
            </div>
            <br />
            <div>
                <button class="btn btn-primary" type="submit">Ekle</button>
            </div>
        </form>
    </div>
</div>